<div class="span9">
  <div class="foo" style="padding:20px;">
    <h1>{{title}}</h1>

    <p>{{body}}</p>

    <!--{{#linkTo "comments"}}Comments..{{/linkTo}}-->
    <hr>
    <h5>Comments</h5>
    <ul>
      {{#each comments}}
        <li>{{body}}</li>
      {{/each}}
    </ul>


    {{outlet}}
  </div>

</div>