<div class="span9">
  <div class="foo" style="padding:20px;">
    <h1>{{title}}</h1>

    <p>{{body}}</p>

    {{#linkTo "comments"}}Comments..{{/linkTo}}
    {{post.comments}}
    debugger
    {{#each comment in comments.controller}}
        foo
    {{/each}}
    {{outlet}}
  </div>

</div>